.logo{
    height: 50px;
    width: 50px;
}
.div1{
    border-color: rgb(40, 170, 0);
    width: 250px;
    display: flex;
    align-items:center ;
}  
 nav{
        border-color: darkmagenta;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 500px;
}
header{
display: flex;
justify-content: space-around;
background-color: rgba(148, 0, 211, 0.466);
}
.logotext{
    font-size: 20px;
    margin-left:10px;
}
.span1{
    color: darkviolet;
}
a{
    text-decoration: none;
}
a:hover{
    border-bottom:solid rgba(148, 0, 211, 0.466);
}